*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(175, 108, 142);
    display: flex;
}
#part1{
    height: 100%;
    width: 26%;
    /* background-color: red; */
}

#part2{
    height: 100%;
    width: 67%;
    background-color: blue;
    background-image: url(https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;

}
#overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(54, 46, 50, 0.473);
}
#part3{
    height: 100%;
    width: 7%;
    /* background-color: greenyellow; */
}

#text-div{
    /* height:30%; */
    position: absolute;
    width: 200px;
    /* background-color: red; */
    left: 12%;
    top: 50%;
    transform: translate(0,-50%);
}

#text-div>h1{
     font-size: 60px;
     font-family: monument;
     font-weight: 500px;
     letter-spacing: 8px;
     line-height: 60px;
     color: white;

}
#small-img-div{
    height: 400px;
    width: 300px;
    /* background-color: red; */
    background-image: url(https://plus.unsplash.com/premium_photo-1675107359685-f268487a3a46?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(0, -50%);
}
#vertical-text{
position: absolute;
transform: rotate(90deg);
right: -43%;
transform-origin: 0% 0%;
top: -2%;
/* width: 100%; */
/* background-color: red; */
}

#vertical-text h1{
    font-size: 250%;
    font-weight: 900;
    /* text-transform: uppercase; */
    color: transparent;
    font-family: monument;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    letter-spacing: 13px ;
    /* transform: rotate(90deg); */
}

#nav{
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 200px;
    /* background-color: red; */
    width: 370px;
    left: 7%;
    top: 5%;
}

#nav img{
    height: 70px;
}
#nav h5{
    top: 100;
    font-size: 20px;
    color: white;
    font-family: gilroy;
}





